        .switch-btn {
          padding: 20px;
        }

        .switch-btn .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        .switch-btn .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .switch-btn .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: 0.4s;
        }

        .switch-btn .slider:before {
          position: absolute;
          content: "";
          height: 40px;
          width: 40px;
          left: 0px;
          top: 0;
          bottom: 0;
          margin: auto 0;
          transition: 0.4s;
          box-shadow: 0 0px 15px #2020203d;
          background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
          background-repeat: no-repeat;
          background-position: center;
        }

        .switch-btn input:checked + .slider {
          background-color: #2196f3;
        }

        .switch-btn input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        .switch-btn input:checked + .slider:before {
          transform: translateX(24px);
          background: white url('https://i.ibb.co/FxzBYR9/night.png');
          background-repeat: no-repeat;
          background-position: center;
        }

        .switch-btn .slider.round {
          border-radius: 34px;
        }

        .switch-btn .slider.round:before {
          border-radius: 50%;
        }
